{% extends 'base.html' %}
{% block title %}
    About - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>About The Developer:</h1>
    <p class="about-content">Hello, Everyone! My name is David Madrigal-Hernandez, but you probably know me as MEXdave1997. I am a hobbyist developer who is currently a computer science major in college. I aim to graduate and become either a Web Developer or a Software engineer. I currently live in Southern California, and I like to go out with my family.</p>
{% endblock content %}

{% block footer %}
    <p class="footer">&copy 2017. David Madrigal-Hernandez.</p>
{% endblock footer %}